<div class="page-header">
  <h1>How to Study Korean</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Unit</th>
      <th>Lesson</th>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.group.unit.number %></td>
        <td><%= link_to lesson.number, how_to_study_korean_lesson_path(lesson.number) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
